 .AndroidStudio3.5/
        .Icecream PDF Candy Desktop/
        .Icecream PDF Converter/
        .android/
        .bash_history
        .emulator_console_auth_token
        .gradle/
        .php_history
        ./3D Objects/
        ./AndroidStudioProjects/
        ./AppData/
        ./Contacts/
        ./Creative Cloud Files/
        ./
        ./Documents/
        ./Downloads/
        ./Favorites/
        ./IntelGraphicsProfiles/
        ./Links/
        ./MicrosoftEdgeBackups/
        ./Music/
        ./NTUSER.DAT
        ./NTUSER.DAT{d9c2800a-01fc-11ea-a2db-2839261113de}.TM.blf
        ./NTUSER.DAT{d9c2800a-01fc-11ea-a2db-2839261113de}.TMContainer00000000000000000001.regtrans-ms
        ./NTUSER.DAT{d9c2800a-01fc-11ea-a2db-2839261113de}.TMContainer00000000000000000002.regtrans-ms
        ./OneDrive/
        ./Pictures/
        ./Saved Games/
        ./Searches/
        ./Tracing/
        ./Videos/
        ./curl
        ./mumokimeu3@gmail.com Creative Cloud Files/
        ./ntuser.dat.LOG1
        ./ntuser.dat.LOG2
        ./ntuser.ini
